.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6532, #f53d2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 4px 0;
}

.header__navbar-item,
.header__navbar-item-link {
    font-size: 1.38rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 400;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item {
    position: relative;
    margin-left: 16px;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1.5px solid #f96f5c;
    height: 14px;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
}


/* icon fb - ig */

.header__navbar-icon-link {
    color: white;
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.6rem;
    margin: 0 4px;
}

.header__navbar-lable--no-poiter {
    cursor: text;
    color: white;
}


/* --------------------------- */


/* qr codee & dowload app */

.header__qr {
    position: absolute;
    top: 116%;
    left: 0;
    background-color: var(--white-color);
    width: 186px;
    padding: 4px;
    border-radius: 3px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__qr-image {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 10px;
}

.header__qr-dowload-image {
    width: 48%;
}

.header__navbar-item--has-qr::before {
    content: "";
    position: absolute;
    top: 18px;
    width: 86px;
    height: 12px;
}


/* notification */

.header__notify {
    position: absolute;
    top: 116%;
    right: 0;
    background-color: white;
    width: 400px;
    border-radius: 3px;
    border: 1px solid var(--border-color);
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in-out 0.2s;
    will-change: opacity, transform;
    display: none;
    z-index: 1;
}

@keyframes headerNotifyGrowth {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__navbar-item--has-notify::after {
    content: "";
    top: 71%;
    position: absolute;
    width: 100%;
    height: 12px;
}

.header__notify:before {
    content: "";
    position: absolute;
    bottom: 98%;
    right: 5%;
    height: 0;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-bottom: 15px solid rgb(255, 255, 255);
}

.header__notify-header h3 {
    color: rgb(209, 209, 209);
    font-size: 1.4rem;
    font-weight: 300;
    margin: 0;
    padding: 8px;
    display: block;
}

.header__notify-header {
    cursor: default;
}

.header__notify-list {
    background-color: rgb(255, 242, 238);
    padding-left: 0;
}

.header__notify-item:hover {
    background-color: rgb(248, 248, 248);
}

.header__notify-item {
    list-style: none;
    padding: 8px 10px;
}

.header__notify-item--viewed {
    background-color: white;
}

.header__notify-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header__notify-img {
    max-width: 60px;
    object-fit: contain;
    margin-bottom: auto;
}

.header__notify-info {
    margin-top: -5px;
    margin-left: 6px;
}

.header__notify-title {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}

.header__notify-description {
    color: rgb(117, 117, 117);
    margin: 0;
    font-size: 1.2rem;
    line-height: 15px;
}

.header__notify-footer {
    text-align: center;
    padding: 6px 0;
}

.header__notify-footer:hover {
    background-color: rgb(248, 248, 248);
}

.header__notify-footer-link {
    display: block;
    text-decoration: none;
    font-weight: 400;
    color: var(--text-color);
}


/* modal */

.modal {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fadeIn linear 0.2s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal__body {
    margin: auto;
    z-index: 1;
    border-radius: 6px;
    --growth-from: 0.6;
    --growth-to: 1;
    animation: growth linear 0.2s;
}


/* auth form */

.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 6px;
    border: 1px solid var(--border-color);
}

.auth-form__container {}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 44px;
    padding-right: 44px;
}

.auth-form__heading {
    font-size: 2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form {
    margin-top: 16px;
    padding-left: 32px;
    padding-right: 32px;
}

.auth-form__group {}

.auth-form__input {
    height: 40px;
    width: 100%;
    margin-bottom: 16px;
    padding: 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:hover {
    border-color: #777;
}

.auth-form__terms {
    margin-top: 8px;
    line-height: 2rem;
    padding: 0 12px;
    padding-left: 32px;
    padding-right: 32px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 0;
    padding: 0 8px;
}

.auth-form__policy-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form_controls {
    display: flex;
    justify-content: flex-end;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 80px;
}

.auth-form__socials {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    margin-top: 16px;
    background-color: rgba(0, 0, 0, 0.05);
    padding-left: 26px;
    padding-right: 26px;
}

.btn--with-icon {
    padding-top: 3px;
    font-size: 1.4rem;
    height: 30px;
    text-decoration: none;
    width: 212px;
    border-radius: 3px;
}

.btn--with-icon--fb {
    background-color: #315093;
    color: var(--white-color);
}

.btn--with-icon--gg {
    background-color: var(--white-color);
    color: var(--text-color);
}

.fab {
    margin-left: 8px;
}

.auth-form__socials-text {
    margin-left: 20px;
}

.auth-form__socials-text--gg {
    margin-left: 28px;
}


/* login form */

.auth-from__help {
    display: flex;
    justify-content: flex-end;
    padding-right: 32px;
}

.auth-form__help-links {
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
    margin-left: 16px;
    color: #939393;
}

.auth-form__help-forgot-pass {
    color: var(--primary-color);
    position: relative;
}

.auth-form__help-forgot-pass::after {
    content: "";
    position: absolute;
    border-left: 1px solid #c4bcbc;
    height: 18px;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
}


/* header with search */

.header__with-search {
    margin-left: 16px;
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.header__logo {
    width: 200px;
    position: relative;
    bottom: 2px;
}

.header__logo-img {
    width: 148px;
}

.header__search {
    position: relative;
    top: -7px;
    flex: 1;
    background-color: var(--white-color);
    height: 40px;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__search-input {
    position: relative;
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    margin-left: 14px;
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 400;
    border-radius: 2px;
    padding: 0;
}

.header__search-input:focus~.header__search-input-list {
    display: block;
}


/* history search */

.header__search-input-list {
    position: absolute;
    top: 100%;
    width: 74.5%;
    background-color: var(--white-color);
    list-style: none;
    padding-left: 0;
    border-radius: 3px;
    margin-top: 4px;
    border: 1px solid var(--border-color);
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 1px 5px rgb(189, 189, 189);
    display: none;
}

.header__search-input-list-header {
    color: #d7d7d7;
    font-weight: 300;
    font-size: 1.5rem;
    padding: 8px;
    margin: 0;
}

.header__search-input-item {
    padding: 8px;
    cursor: pointer;
}

.header__search-input-item:hover {
    background-color: rgb(250, 250, 250);
}

.header__search-input-item-link {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-color);
}

.header__search-select {
    font-size: 1.5rem;
    margin: 0;
    margin-right: 7px;
    padding-bottom: 14px;
    padding-top: 14px;
    cursor: pointer;
    position: relative;
}

.header__search-select:hover .header__search-select-where {
    display: block;
}

.header__search-select-lable {
    margin-right: 14px;
    border-left: 1px solid #c4bcbc9c;
    padding-left: 14px;
}

.header__search-select-icon {
    color: #858585;
    font-size: 1.2rem;
}


/* select search */

.header__search-select-where {
    position: absolute;
    background-color: white;
    width: 107%;
    top: 96%;
    border-radius: 3px;
    overflow: hidden;
    display: none;
}

.header__search-select-where::before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 100%;
    height: 6px;
}

.header__search-select-option {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    display: block;
}

.header__search-select-option:hover {
    background-color: rgb(251, 251, 251);
}

.header__search-select-tick-icon {
    margin-left: 14px;
    font-size: 9px;
    color: var(--primary-color);
    position: relative;
    bottom: 2px;
}

.header__search-btn {
    width: 60px;
    height: 86%;
    margin: 3px;
    border: none;
    background-color: #fb5533;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
}

.header__search-btn:hover {
    background-color: rgb(251, 100, 69);
}

.header__search-btn-icon {
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
}

.header__cart {
    width: 146px;
    text-align: center;
    position: relative;
}

.header__cart:hover .header__cart-empty {
    display: block;
}

.header__cart-link {}

.header__cart-item {
    font-size: 28px;
    color: white;
}

.header__cart-empty {
    position: absolute;
    top: 116%;
    right: 45px;
    width: 357px;
    height: 238px;
    background-color: white;
    border-radius: 3px;
    display: none;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in-out 0.2s;
    will-change: opacity, transform;
}

.header__cart-empty::after {
    content: "";
    position: absolute;
    top: -3%;
    right: 3%;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid white;
}

.header__cart-empty::before {
    content: "";
    position: absolute;
    bottom: 100%;
    width: 15%;
    right: 0;
    height: 12px;
}

.header__cart-empty-img {
    width: 348px;
    height: 236px;
}